<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'>

</head>
<body>

<div class="container">
    <div id="login-box">
      <div class="logo">
        <h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
      </div>
      <div class="controls">
        <input type="text" [(ngModel)]="username" name="username" placeholder="Username" class="form-control" />
        <input type="password" [(ngModel)]="password" name="password" placeholder="Password" class="form-control" />
        <button type="button" class="btn btn-default btn-block btn-custom" (click)="loginUser()">Login</button>
      </div>
      <div class="alert alert-danger" *ngIf="error">
        <strong>Login failed. Check your credentials.</strong>
      </div>
    </div>
  </div>
</body>
</html>